{% load static %}
{% include "includes/header.html" %}




    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Role</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="ni ni-single-02 text-blue"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Manage Event</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Event</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="/addrole" class="btn btn-sm btn-neutral">New</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="container-fluid mt--6">
     
     
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Manage Roles</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    {% if perms.auth.view_permission %}
                    <th scope="col" class="sort" data-sort="budget">Permission</th>
                    {% endif %}
                    
                    <!-- <th scope="col" class="sort" data-sort="status"></th>
                    <th scope="col">Card</th> -->
                    {% if perms.auth.delete_group or perms.auth.change_group %}
                    <th scope="col" class="sort" data-sort="completion">action</th>
                    {% endif %}
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    {% for g in g %}
                    <th scope="row">
                      <div class="media align-items-center">
                        <!-- <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{% static 'dash/img/theme/bootstrap.jpg'%}">
                        </a> -->
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{g.name}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      {% if perms.auth.view_permission %}
                      <select name="">
                        
                        {% for i in g.permissions.all %}
                        <option value="">{{i.name}}<br></option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    </td>
                    
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="col-lg-6 col-5 text-right">
              <!-- <a href="#" class="btn btn-sm btn-primary">View</a> -->
              {% if perms.auth.change_group %}
              <a href="editrole/{{g.id}}" class="btn btn-sm btn-primary">Edit</a>
              {% endif %}
              {% if perms.auth.delete_group %}
              <a href="deleterole/{{g.id}}" class="btn btn-sm btn-neutral">delete</a>
              {% endif %}
              

            </div>
                      </div>
                    </td>
                    <!-- <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                     
                      </div>
                    </td> -->
                  </tr>
                {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {% include "includes/footer.html" %}
    