{% load static %}
{% include "includes/header.html" %}




    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Event</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="ni ni-single-02 text-blue"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Manage Event</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Event</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              {% if perms.accounts.add_event %}
              <a href="/addevent" class="btn btn-sm btn-neutral">New</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="container-fluid mt--6">
     
     
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Manage Event</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">

                  <tr>
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    <th scope="col" class="sort" data-sort="budget">locaion</th>
                    <th scope="col" class="sort" data-sort="budget">Time</th>
                    <th scope="col" class="sort" data-sort="budget">Card</th>
                    <th scope="col" class="sort" data-sort="budget">eventtype</th>
                    
                  
                    {% if perms.accounts.change_event or perms.accounts.delete_event %}
                    <th scope="col" class="sort" data-sort="completion">action</th>
                    {% endif %}
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for n in n %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{n.qrcode.url}}">
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{n.name}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      {{n.location}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">{{n.time}}</span>
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="{{n.card.url}}">
                        </a>
                        
                      </div>
                    </td>
                    <td class="budget">
                      {{n.eventtype.name}}

                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="col-lg-6 col-5 text-right">
              {% if perms.accounts.change_event %}
              <a href="/editevent/{{n.id}}" class="btn btn-sm btn-secondary">Edit</a>
              {% endif %}
              {% if perms.accounts.delete_event %}
              <a href="/deleteevent/{{n.id}}" class="btn btn-sm btn-neutral">delete</a>
              {% endif %}
              

            </div>
                      </div>
                    </td>
                    <!-- <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                     
                      </div>
                    </td> -->
                  </tr>
                  {% endfor %}
                
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {% include "includes/footer.html" %}
    