{% load static %}
{% include "includes/header.html" %}




    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Role</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="ni ni-single-02 text-blue"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Trash</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Trash</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="container-fluid mt--6">
     
     
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Recent Delete</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <!-- <th scope="col" class="sort" data-sort="name"></th> -->
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    <th scope="col" class="sort" data-sort="budget">Role</th>
                    <!-- <th scope="col" class="sort" data-sort="status"></th>
                    <th scope="col">Card</th> -->
                    <th scope="col" class="sort" data-sort="completion">action</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    {% for g in g %}
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{g.profile.url}}">
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{g.user.first_name|title}} {{g.user.last_name|title}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      
                        {% for i in g.user.groups.all %}
                        {{i.name}}<br>
                        {% endfor %}
                    
                    </td>
                    <!-- <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">pending</span>
                      </span>
                    </td> -->
                    <!-- <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="{% static 'dash/img/theme/team-1.jpg'%}">
                        </a>
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="{% static 'dash/img/theme/team-2.jpg'%}">
                        </a>
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="{% static 'dash/img/theme/team-3.jpg'%}">
                        </a>
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="{% static 'dash/img/theme/team-4.jpg'%}">
                        </a>
                      </div>
                    </td> -->
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="col-lg-6 col-5 text-right">
              <!-- <a href="#" class="btn btn-sm btn-primary">View</a> -->
              <a href="/restore/{{g.user.id}}" class="btn btn-sm btn-primary">Restore</a>
              <a href="/deleteuser/{{g.user.id}}" class="btn btn-sm btn-neutral">delete</a>
              

            </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                     
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {% include "includes/footer.html" %}
    